.recipeTitle {
    font-size: 3vmin;
}

h2{
    font-size: 2vmin;
    font-family: "Poppins", sans-serif 
}

li {
    font-family: "Poppins", sans-serif;
    list-style: none;
    
}

.stepsList{
    list-style: none;
}

.recipeInfo {
    text-align: left;
}

ul {
    padding: 0;
}