.App {
  text-align: center;
  // height: 90vh;
  height: 100vh;
  overflow: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  height: 20%;
  // background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #0e00a4;
  width: 95%;
  img{
   height: 6vmin;
   width: auto;
   margin-left: 2vmin;
  }
  .logo{
    margin-right: 8vmin;
  }
}

.main{
  height: 80%;
  width: 80%;
}

.inputDiv{
  width: 100%;
  input{
    font-size: 2vmin;
    padding: 5px;
    width: 30vmin; 
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    caret-color: #0e00a4;
  }
  input:focus {
    outline: none;
  }
 

  button{
    margin: 1vmin;
    font-size: 1.5vmin;
    border-radius: 15px;
    padding: .5vmin;
    font-family: "Poppins", sans-serif 
    span{
      font-size: 48px;
    }
  }
}



.component {
  display: flex;
  height: 100%;
}
.apiDiv{
  flex: 1;
  text-align: left;
  margin-left: 2%;
  max-width: 50%;
  margin-top: 3%;
}

.fillerDiv{
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 2%;
}

.fillerText{
  font-family: "Poppins", sans-serif;
  margin: 3vmin;
  color: white;
  text-align: left;
  .topText{
    font-size: 8vmin;
    color: #0e00a4;

    font-family: "Righteous", sans-serif;
  }
  .midText{
    font-size: 6vmin;
    color: #0e00a4;
    font-family: "Righteous", sans-serif;
  }
  .bottomText{
    font-size: 4.5vmin;
    color: #0e00a4;

    font-family: "Righteous", sans-serif;
  }
  .exampleText{
    font-size: 3vmin;
    color: black;
  }
  .exampleText2{
    font-size: 3vmin;
    color: black;
  }
}

span:hover{
  cursor: default;
}
span{
  margin: 0;
}
button{
  background: none;
  border: none;
  text-align: center;
}

.buttonDiv{
  margin-top: 4vmin;
  div{
    margin: 2vmin;
  }
}


.message {
  font-size: 2vmin;
  font-family: "Poppins", sans-serif;
  margin-top: 2vmin;
}

h1{
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-size: 4vmin;
  // color: #0e00a4;
}

.ingredientLi{
  font-family: "Poppins", sans-serif;
  font-size: 2vmin;
  margin-top: 1vmin;
}

.material-symbols-outlined{
  font-size: 3vmin;
}

// .searchDiv{
//   /* border: 1px solid black; */
//   height: 20%;
// }




// .responseDiv{
//   /* border: 1px solid blue; */
//   height: 80%;
//   display: flex;
//   justify-content: center;
// }

// .ingredientsDiv{
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
  
// }

// .buttonDiv {
//   display: flex;
//   justify-content: center;
//   button{
//     // margin: 1vmin;
//     // font-size: 1.75vmin;
//     // border-radius: 15px;
//     // padding: .5vmin;
//     // font-family: "Poppins", sans-serif;
//   }
// }



// .recipeDiv{
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   /* overflow: scroll; */
// }



// .assistantResDiv{
//   width: 75%;
// }
/* .recipeList{
  border: 1px solid black;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* ul {
  border: 1px solid black;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 0;
} */

// .gptRes{
//   /* border: 1px solid black; */
//   height: 100%;
//   width: 70%;
//   /* overflow: auto; */
// }

/* li{
  list-style: none;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  width: 40%;
  font-size: 18px;
  margin-top: 20px;
} */

