.App {
  text-align: center;
  height: 90vh;
}

h1{
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-size: 6vmin;
  color: #0e00a4;
}

.searchDiv{
  /* border: 1px solid black; */
  height: 20%;
}

.message {
  font-size: 2vmin;
  font-family: "Poppins", sans-serif 
}


.listDiv{
  /* border: 1px solid blue; */
  height: 80%;
  display: flex;
  justify-content: center;
}

.ingredientsDiv{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.inputDiv{
  // display: flex;
  // justify-content: center;
  width: 100%;
  input{
    font-size: 2vmin;
    padding: 5px;
    width: 30vmin; 
  }
  button{
    margin: 1vmin;
    font-size: 1.5vmin;
    border-radius: 15px;
    padding: .5vmin;
    font-family: "Poppins", sans-serif 
  }
}


.buttonDiv {
  display: flex;
  justify-content: center;
  button{
    // margin: 1vmin;
    // font-size: 1.75vmin;
    // border-radius: 15px;
    // padding: .5vmin;
    // font-family: "Poppins", sans-serif;
  }
}



.recipeDiv{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: scroll; */
}

.ingredientLi{
  font-family: "Poppins", sans-serif;
  font-size: 2vmin;
}

/* .recipeList{
  border: 1px solid black;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* ul {
  border: 1px solid black;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 0;
} */

.gptRes{
  /* border: 1px solid black; */
  height: 100%;
  width: 70%;
  /* overflow: auto; */
}

/* li{
  list-style: none;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  width: 40%;
  font-size: 18px;
  margin-top: 20px;
} */

