.App {
  text-align: center;
  // height: 90vh;
  height: 100vh;
  overflow: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #0e00a4;
  width: 95%;
  // overflow: hidden;
  img{
   height: 6vmin;
   width: auto;
   margin-left: 2vmin;
  }
  .burgerDiv{
    margin-right: 2vmin;
    span{
      font-size: 5vmin;
    }
    .options{
      font-family: "Poppins", sans-serif;
      color: #0e00a4;
      font-size: 2vmin;
      text-align: left;
      animation-duration: .3s;
      animation-name: slide;
      // position: absolute;
    }
  }
}

@keyframes slide{
0%{
  margin-left: 50%;
}
100%{
  margin-left: 0;
}
}

.main{
  height: 80%;
  width: 80%;
}

.inputDiv{
  width: 100%;
  input{
    font-size: 2vmin;
    padding: 5px;
    width: 70%; 
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    caret-color: #0e00a4;
  }
  input:focus {
    outline: none;
  }
 

  button{
    border-radius: 15px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: none;
    border: none;
    text-align: center;
    span{
      font-size: 4vmin;
    }
  }
}


.component {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.apiDiv{
  flex: 1;
  text-align: left;
  margin-left: 10%;
  max-width: 50%;
  margin-top: 3%;
}

.fillerDiv{
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 10%;
}

.fillerText{
  font-family: "Poppins", sans-serif;
  margin: 3vmin;
  color: white;
  text-align: left;
  .cook{
    font-size: 7vmin;
    color: #0e00a4;
    font-family: "Righteous", sans-serif;
  }
  .tell{
    font-size: 5vmin;
    color: #0e00a4;
    font-family: "Righteous", sans-serif;
  }
  .topText{
    font-size: 8vmin;
    color: #0e00a4;

    font-family: "Righteous", sans-serif;
  }
  .midText{
    font-size: 6vmin;
    color: #0e00a4;
    font-family: "Righteous", sans-serif;
  }
  .bottomText{
    font-size: 4.5vmin;
    color: #0e00a4;

    font-family: "Righteous", sans-serif;
  }
  .exampleText{
    font-size: 3vmin;
    color: black;
  }
  .exampleText2{
    font-size: 3vmin;
    color: black;
  }
}

span:hover{
  cursor: default;
}
div:hover{
  cursor: default;
}

.toggle{
  font-family: "Poppins", sans-serif;
  font-size: 2vmin;
  color: #0e00a4;
  font-weight: 600;
  margin-right: 2vmin;
}

.buttonDiv{
  margin-top: 4vmin;
  display: flex;
  button{
    background: none;
    border: none;
    text-align: center;
  }
}


.message {
  font-size: 2vmin;
  font-family: "Poppins", sans-serif;
  margin-top: 2vmin;
}

h1{
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-size: 4vmin;
}

.ingredientLi{
  font-family: "Poppins", sans-serif;
  font-size: 2vmin;
  margin-top: 1vmin;
}

.material-symbols-outlined{
  font-size: 3.5vmin;
  margin-right: 4vmin;
  margin-left: 0;
  padding: 0;
  color: #0e00a4;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  .aboutText{
    width: 80%;
    text-align: left;
    p {
      font-family: "Poppins", sans-serif;
      font-size: 2vmin;
    }
  }
  .aboutLinks{
    margin-top: 2vmin;
    display: flex;
    align-items: center;
    a{
      margin: 2vmin;
      .port{
        height: 9vmin;
         width: auto;
      }
      .linkedin{
        height: 6vmin;
        width: auto
      }
      .git{
        height: 6vmin;
        width: auto
      }
    }
  }
}
